.book {
  width: 25%;
  min-width: 250px;
  padding: 10px;
  height: 100%;
}

.book img {
  margin: 10px auto;
  width: 200px;
  height: 325px;
  display: block;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: 0px 0px 10px rgba( 0, 0, 0, .5);
}

.book div {
  margin: -10px auto;
  padding: 3px;
  background-color: white;
  width: 200px;
  border-top: 1.5px solid gray;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 5px;
}

.book h1, .book h2, .book h3 {
  font-size: 10pt;
  text-align: center;
  color: #FA8072;
  font-weight: 500;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: black;
}

.book h3 {
  font-size: 8pt;
  color: gray;
}
