/** ==================== HEADER ==================== */

.bShelf-header {
  animation: bgHeader 5s infinite;
  -webkit-animation: bgHeader 5s infinite;
}

.bShelf-header h1 {
  font-size: 16pt;
  font-family: 'Pacifico', cursive;
  width: 100%;
  text-align: center;
  color: white;
}

@keyframes bgHeader {
  0%   { background-color: #E74C3C; }
  50%  { background-color: #FFA07A; }
  100% { background-color: #E74C3C; }
}

@-webkit-keyframes bgHeader {
  0%   { background-color: #E74C3C; }
  50%  { background-color: #FFA07A; }
  100% { background-color: #E74C3C; }
}

/** ==================== MAIN ==================== */

.bShelf-main div {
  display: flex;
  flex-direction: row;
}

.bShelf-main h2 {
  padding: 5px;
  margin: 10px;
  width: 100%;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  color: #555555;
  border-bottom: 2px solid rgba( 0, 0, 0, 0.19);
}

.bShelf-loading {
  width: 100%;
  height: 300px;
  background-image: url('icons/books-load.gif');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

.bShelf-search {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 50pt;
  height: 50pt;
  border-radius: 25pt;
  font-size: 0;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('icons/book.svg');

  -webkit-transition: background-size 0.1s;
  transition: background-size 0.1s;
  -webkit-animation: bgHeader 5s infinite;
  animation: bgHeader 5s infinite;
}

.bShelf-search:hover {
  background-size: 40px;
}
