
/** ==================== HEADER ==================== */

.bSearch-header div {
  display: flex;
  flex-direction: row;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.bSearch-header a {
  width: 55px;
  height: 55px;
  font-size: 0;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('icons/back.svg');

  -webkit-transition: background-size 0.1s;
  transition: background-size 0.1s;
}

.bSearch-header a:hover {
  background-size: 30px;
}

.bSearch-header input {
  background: transparent;
  width: 100%;
  margin: auto 20px;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
  outline: none;
  padding: 5px;
}

/** ==================== MAIN ==================== */

.bSearch-body {
  background-color: #FA8072;
  height: 100%;
}

.bSearch-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-end;
}

.bSearch-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  background-image: url('icons/books-load.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90px;
  background-color: white;
  border-radius: 50%;
}

.bSearch-empty-entry {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 50px;
  margin-top: -25px;
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 30pt;
}
